* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: relative;
    font-weight: 100;
    text-decoration: none;
}

/* Title Heading */

h1 {
    margin-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100%;
    width: 100%;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 84px;
    text-align: center;
    color: #FFF;
}

#h_banner {
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(78, 183, 195, 1);

}

/* building heading nav bar */

#menuicon {
    display: block;
    text-align: center;
    width: 10%;
    min-width: 75px;
    height: 100%;
    color: #788487;
    font-size: 48px;
    margin: auto;  
    background-color: rgba(0, 0, 0, .07);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    transform: rotate(0deg);
}

#menuicon:hover {
    cursor: pointer;
}

#h_bar {
    display: none;
}

#h_barshow {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 5rem;
    list-style-type: none;
    text-align: center;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 36px;
    transition: .10s linear;
    background-color: rgba(78, 183, 195, .25);
}

#h_barshow:hover {
    background-color: rgba(78, 183, 195, .25);
}

#h_barshow li {
    display: inline-block;
    list-style-type: none;
    margin: .5rem 2rem;
    padding: .5rem;
    border-radius: 15px;
}

#h_barshow li a {
    padding: .5rem;
    border-radius: 15px;
    background-color: transparent;
    color: #000;
    transition: .10s linear;
}


#h_barshow li a:hover {
    background-color: rgba(78, 183, 195, 1);
    color: #FFF;
    cursor: pointer;
}

/* body base format start */

body {
    width: 100%;
    height: 100%;
    /*background-image: url("media/background.jpg");*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    background-blend-mode: color;
    background-color: rgba(232, 232, 232, .27);
    z-index: 0;
}

footer {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 5rem;
    background-color: rgba(232, 232, 232, .60);
}

#b_banner {
    margin: auto;
    width: 90%;
    max-width: 1080px;
    height: 100%;
    background-color: rgba(232, 232, 232, .60);
    border-radius: 15px;
}

.container {
    padding: 2em 1em;
    overflow: hidden;
}

h2 {
    margin-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100%;
    width: 100%;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 42px;
    text-align: center;
    color: #FFF;
}

p {
    padding: 2em 1em;
    height: 100%;
    width: 100%;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 18px;
    text-align: center;
    overflow: show;
}

.overlay {
    background-color: rgba(232, 232, 232, .25);
    color: black;
    position: absolute;
    transition: .10s linear;    
}

.overlay p {
    padding-top: 2rem;
    height: 75%;
    width: 90%;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 18px;
    text-align: center;
    overflow: show;
}



/* Responsive options for body for screens over 1080px */

@media only screen and (min-width: 1080px) {
    #h_banner {
    padding-top: 5%;
    height: 20rem;   
    }
    
    #menuicon {
    display: none; 
    }
    
    #h_bar {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 5rem;
    list-style-type: none;
    text-align: center;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 36px;
    transition: .10s linear;
    background-color: rgba(78, 183, 195, .25);
    }

    #h_bar:hover {
    background-color: rgba(78, 183, 195, .25);
    }
    
    #h_bar li {
    display: inline-block;
    margin: .5rem 2rem;
    padding: .5rem;
    border-radius: 15px;
    }

    #h_bar li a {
    padding: .5rem;
    border-radius: 15px;
    background-color: transparent;
    color: #000;
    transition: .10s linear;
    }

    #h_bar li a:hover {
    background-color: rgba(78, 183, 195, 1);
    color: #FFF;
    cursor: pointer;
    }
    
    .container {
    padding: 3em 4em;
    }
    
    h1 {
    font-size: 150px; 
    }
    
    h2 {
    font-size: 84px; 
    }
    
    p {
    font-size: 36px;
    }
    
    .overlay p {
    font-size: 36px;
    }
    
    nav li a {
    font-size: 54px;
    }
    
    body {
    background-position: center center;
    }
}






/*beginning of Taylor specific content */
#taylor_h h2 {
    text-align: left;
}

.container .taylor_img {
    margin: 0px 0px 5px 0px;
    width: 100%;
    max-width: 1080px;
    height: 20rem;
    max-height: 360px;
    display: block;
    background-image: url("media/Tayor_krikpark.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-blend-mode: color;
    background-color: rgba(232, 232, 232, .27);
    border-radius: 15px;
}

.taylor_img .overlay {
    top: 25%;
    width: 60%;
    height: 75%;
    border-radius: 0px 15px;
}

.container .taylor_img:hover .overlay{
    background-color: rgba(232, 232, 232, .60);
    color: black;
}

@media only screen and (min-width: 1080px) {
    .container .taylor_img {
    margin: auto;
    width: 100%;
    max-width: 1080px;
    height: 45rem;
    max-height: 480px;
    }
}









/*beginning of Dan specific content */

#dan_h h2 {
    text-align: center;
}

.container .dan_img {
    margin: 0px 0px 5px 0px;
    width: 100%;
    max-width: 1080px;
    height: 20rem;
    max-height: 360px;
    display: block;
    background-image: url("media/Dan_camping.JPG");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 15px;
}

@media only screen and (min-width: 1080px) {
    .container .dan_img {
    margin: auto;
    width: 100%;
    max-width: 1080px;
    height: 45rem;
    max-height: 480px;
    }
}

.dan_img .overlay {
    right: 0;
    width: 40%;
    height: 100%;
    border-radius: 0px 15px 15px 0px;
}

.container .dan_img:hover .overlay{
    background-color: rgba(232, 232, 232, .60);
    color: black;
}








/*beginning of William specific content */

#william_h h2 {
    text-align: left;
}

.container .william_img {
    margin: 0px 0px 5px 0px;
    width: 100%;
    max-width: 1080px;
    height: 20rem;
    max-height: 360px;
    display: block;
    background-image: url("media/William.jpg");
    background-repeat: no-repeat;
    background-position: 50% 35%;
    background-size: cover;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, .08);
    border-radius: 15px;
}

@media only screen and (min-width: 1080px) {
    .container .william_img {
    margin: auto;
    width: 100%;
    max-width: 1080px;
    height: 45rem;
    max-height: 480px;
    }
}

.william_img .overlay {
    bottom:0;
    width: 50%;
    height: 50%;
    border-radius: 0px 15px;
}

.container .william_img:hover .overlay{
    background-color: rgba(232, 232, 232, .60);
    color: black;
}







/*beginning of Declan specific content*/

#declan_h h2 {
    text-align: right;
}

.container .declan_img {
    margin: 0px 0px 5px 0px;
    width: 100%;
    max-width: 1080px;
    height: 20rem;
    max-height: 360px;
    display: block;
    background-image: url("media/declan.jpg");
    background-repeat: no-repeat;
    background-position: 50% 10%;
    background-size: cover;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, .08);
    border-radius: 15px;
}

@media only screen and (min-width: 1080px) {
    .container .declan_img {
    margin: auto;
    width: 100%;
    max-width: 1080px;
    height: 45rem;
    max-height: 480px;
    }
}

.declan_img .overlay {
    right: 0;
    bottom: 0;
    width: 30%;
    height: 40%;
    border-radius: 15px 0px 15px 0px;
}

.container .declan_img:hover .overlay{
    background-color: rgba(232, 232, 232, .60);
    color: black;
}






/* creating video blocks */

.container .videoblock {
    width: 100%;
    max-width: 1920px;
    height: 20rem;
    max-height: 360px;
    display: block;
}

@media only screen and (min-width: 1080px) {
    .container .videoblock {
    margin: auto;
    width: 100%;
    max-width: 1080px;
    height: 45rem;
    max-height: 480px;
    }
}

.container .videoblock iframe {
    width: 100%;
    height: 100%;
    border: none;
}








/*Stay in touch content */
#stayintouch a {
    display: block;
    margin : auto;
    height: 40px;
    width: 40px;
}



/*Updates*/

/*fall2019 styling*/
.container #fall2019 p {
    padding: 2em 1em;
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-align: left;
    overflow: show;
}

.container .pa-carousel-widget iframe {
    margin: 0px 0px 5px 0px;
    width: 100%;
    max-width: 1080px;
    height: 20rem;
    max-height: 360px;
    display: block;
    border-radius: 15px;
}

@media only screen and (min-width: 1080px) {
    .container .taylor_img {
    margin: auto;
    width: 100%;
    max-width: 1080px;
    height: 45rem;
    max-height: 480px;
    }
}
